[Unit]
Description=Peatio deamons
After=network.target

[Service]
User=peatio
Group=peatio

WorkingDirectory=/home/peatio
Type=simple
PIDFile=/home/peatio/.peatio/peatio-daemons.pid
EnvironmentFile=/home/peatio/.profile
ExecStart=/bin/bash -lc '/home/peatio/startup.sh'
ExecStop=/home/peatio/.rvm/gems/ruby-2.5.0/bin/god quit

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
